/* Reset some default browser styles for consistency */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    line-height: 1.6;
}

.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

nav ul {
    list-style-type: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 10px 20px; /* Added padding to style as buttons */
    background-color: #ccc; /* Button background color */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth hover effect */
}

nav ul li a:hover {
    background-color: #555; /* Hover background color */
    color: #fff;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

/* Page-specific styles */
h1 {
    font-size: 36px;
}

h2 {
    font-size: 24px;
    color: #333;
}

/* Homepage background color */
body.index {
    background-color: #4169E1; /* Blue background color */
}

/* Add responsive styles for smaller screens */
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }

    nav ul li {
        margin-right: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }
}
